@import "../shared/variables";

.app-header {
  padding: 32px 0;

  .logo {
    margin-bottom: 0;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
  }

  &-inner {
    display: flex;
  }

}
